<div class="Menu js-menu">
  <div class="js-checkboxes-wrapper">

  </div>

  <div class="MenuTextInputWrapper">
    <label for="input-update-speed">
      percent update speed (ms)
    </label>

    <input type="number" id="input-update-speed" value="100" />
  </div>

  <button type="button" class="MenuButtonApply js-menu-button-apply">
    Apply
  </button>

  <div class="MenuTopicsWrapper js-topics-wrapper">
    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Anime
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        B&W
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Colors
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Classical arts
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Classical arts
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Classical arts
      </div>
    </div>

    <div class="MenuTopic">
      <img src="imagesForTopics/anime.png" class="MenuTopicImage" alt="" />

      <div class="MenuTopicLabel">
        Classical arts
      </div>
    </div>
  </div>
</div>
