<div class="Menu js-menu">
  <div class="js-checkboxes-wrapper">

  </div>

  <div class="MenuTextInputWrapper">
    <label for="input-update-speed">
      percent update speed (ms)
    </label>

    <input type="number" id="input-update-speed" value="100" />
  </div>

  <button type="button" class="MenuButtonApply js-menu-button-apply">
    Apply
  </button>

  <div class="MenuTopicsWrapper js-topics-wrapper">

  </div>
</div>
