<div class="ProgressBar_Vaporwave js-progress-bar-vaporwave">
  <div class="Shadow_Vaporwave">
    <%= require('components/Weather/Weather.ejs')() %>

    <div class="ContentWrapper_Vaporwave js-content-wrapper">
      <div class="Date_Vaporwave js-date"></div>

      <div class="Time_Vaporwave js-time"></div>

      <div class="Progress_Vaporwave">
        <div class="ProgressWalking_Vaporwave js-progress-walking"></div>
      </div>
    </div>
  </div>
</div>
