<div class="ProgressBar js-progress-bar">
  <div class="Shadow">
    <%= require('components/Weather/Weather.ejs')() %>

    <div class="ContentWrapper js-content-wrapper">
      <div class="Date js-date"></div>

      <div class="Time js-time"></div>

      <div class="Progress">
        <div class="ProgressWalking js-progress-walking"></div>
      </div>
    </div>
  </div>
</div>
