<div class="CreateNewPreset js-create-new-preset">
  <div class="CreateNewPresetWrapper">
    <div class="InputWrapper">
      <label for="input">
        Type a name for new preset
      </label>

      <input id="input" class="js-input" required />
    </div>

    <div class="SelectWrapper js-select-wrapper">
      <div>
        Choose options for static
      </div>

      <div class="ContentOptionsWrapper js-content-options-wrapper js-content-static-options-wrapper">
        <!-- checkboxes here are coming from js -->
      </div>
    </div>

    <div class="SelectWrapper js-select-wrapper">
      <div>
        Choose options for dynamic
      </div>

      <div class="ContentOptionsWrapper js-content-options-wrapper js-content-dynamic-options-wrapper">
        <!-- checkboxes here are coming from js -->
      </div>
    </div>

    <div class="SelectWrapper">
      <div class="InputWrapper">
        <label>
          Type resolution
        </label>

        w: <input id="input-w" class="js-input-w" />
        h: <input id="input-h" class="js-input-h" />
      </div>
    </div>

    <div class="SelectWrapper">
      <div class="InputWrapper">
        <label for="skin-select">
          Choose skin
        </label>

        <select id="skin-select">
          <option value="default" selected>
            default
          </option>

          <option value="cyberpunk">
            cyberpunk
          </option>
        </select>
      </div>
    </div>

    <button class="CreateNewPreset__Button js-button">
      Submit
    </button>
  </div>
</div>

