<div class="CreateNewPreset js-create-new-preset">
  <div class="CreateNewPresetWrapper">
    <div class="InputWrapper">
      <label for="input">
        Type a name for new preset
      </label>

      <input id="input" class="js-input" required />
    </div>

    <div class="SelectWrapper">
      <div>
        Choose options for new preset
      </div>

      <div class="ContentOptionsWrapper js-content-options-wrapper">
        <!-- checkboxes here are coming from js -->
      </div>
    </div>

    <button class="CreateNewPreset__Button js-button">
      Submit
    </button>
  </div>
</div>

