.CreateNewPreset {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background: #3d3d3d;
  color: #ffffff;
  padding: 15px;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 9px;
}

.SelectWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  min-width: 250px;
  margin-top: 20px;
}

.ContentOptionsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 15px;
  gap: 15px;
  height: 36px;
  overflow: hidden;
  padding: 5px;
  border: 1px #111 solid;
  cursor: pointer;

  &.isActive {
    height: auto;
  }
}

.CheckboxWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  margin-top: 6px;
}

.CheckboxesWrapperLabel {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.CreateNewPresetWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.CreateNewPreset__SubmitButton {
  margin-top: 25px;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.CreateNewPreset__DeleteButton {
  margin-top: 5px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  background: red;
  color: #fff;
}

.InputDeleteWrapper {
  margin-bottom: 15px;
  border: 1px red solid;
  padding: 5px;
}

.FormatsCheckboxesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.FormatCheckboxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input {
    margin-left: 5px;
  }
}
