<div class="CreateNewPreset js-create-new-preset">
  <div class="CreateNewPresetWrapper">
    <div class="InputDeleteWrapper">
      <div class="InputWrapper">
        <label for="input-delete">
          Type a name for delete preset
        </label>

        <input id="input-delete" class="js-input-delete" />
      </div>

      <button class="CreateNewPreset__DeleteButton js-delete-button">
        Delete
      </button>
    </div>

    <div class="InputWrapper">
      <label for="input">
        Type a name for new preset
      </label>

      <input id="input" class="js-input" required />
    </div>

    <div class="SelectWrapper js-select-wrapper">
      <div>
        Choose options for static
      </div>

      <div class="ContentOptionsWrapper js-content-options-wrapper js-content-static-options-wrapper">
        <!-- checkboxes here are coming from js -->
      </div>
    </div>

    <div class="SelectWrapper js-select-wrapper">
      <div>
        Choose options for dynamic
      </div>

      <div class="ContentOptionsWrapper js-content-options-wrapper js-content-dynamic-options-wrapper">
        <!-- checkboxes here are coming from js -->
      </div>
    </div>

    <div class="SelectWrapper">
      <div class="InputWrapper">
        <label>
          Type resolution
        </label>

        w: <input id="input-w" class="js-input-w" />
        h: <input id="input-h" class="js-input-h" />
      </div>
    </div>

    <div class="SelectWrapper">
      <div class="InputWrapper">
        <label>
          Type file size limit in bytes
        </label>

        <input id="input-file-size" class="js-input-file-size" />
      </div>
    </div>

    <div class="SelectWrapper js-select-wrapper">
      <div>
        Choose gif formats
      </div>

      <div class="FormatsCheckboxesWrapper">
        <div class="FormatCheckboxWrapper">
          <label for="formats-sq">
            sq
          </label>

          <input
            type="checkbox"
            checked
            id="formats-sq"
            name="formats"
            class="js-format-checkbox"
            data-id="sq"
          />
        </div>

        <div class="FormatCheckboxWrapper">
          <label for="formats-v">
            vertical
          </label>

          <input
            type="checkbox"
            checked
            id="formats-v"
            name="formats"
            class="js-format-checkbox"
            data-id="v"
          />
        </div>

        <div class="FormatCheckboxWrapper">
          <label for="formats-h">
            horizontal
          </label>

          <input
            type="checkbox"
            checked
            id="formats-h"
            name="formats"
            class="js-format-checkbox"
            data-id="h"
          />
        </div>
      </div>
    </div>

    <div class="SelectWrapper">
      <div class="InputWrapper">
        <label for="skin-select">
          Choose skin
        </label>

        <select id="skin-select">
          <option value="default" selected>
            default
          </option>

          <option value="cyberpunk">
            cyberpunk
          </option>
        </select>
      </div>
    </div>

    <button class="CreateNewPreset__SubmitButton js-submit-button">
      Submit
    </button>
  </div>
</div>
