<div class="ExtraWrapper js-extra-wrapper">
  <div class="BgNext js-bg-next"></div>

  <div class="AnimWrapper js-anim-wrapper">
    <div class="Bg js-bg"></div>
  </div>

  <%= require('components/ProgressBar/ProgressBar.ejs')() %>
  <%= require('components/MainQuestion/MainQuestion.ejs')() %>
</div>
