<div class="ExtraWrapper js-extra-wrapper">
  <div class="MenuButton js-menu-button">

  </div>

  <%= require('components/Menu/Menu.ejs')() %>

  <div class="BgNext js-bg-next"></div>

  <div class="AnimWrapper js-anim-wrapper">
    <div class="Bg js-bg"></div>
  </div>

  <div class="WaterMarkMain">
    m-days.ru
  </div>

  <div class="ProgressBarsWrapper js-progress-bars-wrapper">
    <%= require('components/ProgressBar/ProgressBar.ejs')() %>
    <%= require('components/ProgressBarVaporwave/ProgressBarVaporwave.ejs')() %>
  </div>

  <div class="ProgressBarsDull js-progress-bars-dull">
    m-days.ru
  </div>
</div>
