<div class="ExtraWrapper">
  <div class="BgNext js-bg-next"></div>

  <%= require('components/Weather/Weather.ejs')() %>

  <div class="AnimWrapper js-anim-wrapper">
    <div class="Bg js-bg"></div>
  </div>

  <%= require('components/ProgressBar/ProgressBar.ejs')() %>
</div>
