.ExtraWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.AnimWrapper {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 0.3s 0s;
  will-change: opacity;
}

.BgNext {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  opacity: 0;
}

.Bg {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
}
