<%
var options = htmlWebpackPlugin.options;
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  <title>
    m-days
  </title>
</head>

<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>

<div id="root">
  <%= require('components/Bg/Bg.ejs')() %>
</div>
</body>
</html>
