<div class="ProgressBar js-progress-bar">
  <div class="Shadow">
    <%= require('components/Weather/Weather.ejs')() %>

    <div class="ContentWrapper">
      <div class="Left">
        <span class="Year js-year">
          2023
        </span>

        <span class="Month js-month">
          24.04 Mon
        </span>
      </div>

      <div class="Center">
        <div class="Time">
          <span class="HoursOrMinutes js-hours">
            12:
          </span>

          <span class="HoursOrMinutes js-minutes">
            46
          </span>

          <span class="Seconds js-seconds">
            46
          </span>
        </div>

        <div class="Progress">
          <div class="ProgressWalking js-progress-walking" style="width: 30%"></div>
        </div>

        <span class="Day">
          <span class="DayValue js-day-value">114 of 365</span>
          <span class="DayLabel">monochrome days</span>
        </span>
      </div>

      <div class="Right">
        <span class="Percent js-percent">
          31.10%
        </span>

        <span class="PercentFull js-percent-full">
          31.1057890%
        </span>
      </div>
    </div>
  </div>
</div>
