<div class="ProgressBar js-ProgressBar">
  <div class="Shadow">
    <div class="ContentWrapper">
      <div class="Left">
        <span class="Year">
          2023
        </span>

        <span class="Month">
          24.04 Mon
        </span>
      </div>

      <div class="Center">
        <div class="Time">
          <span class="HoursOrMinutes">
            12:
          </span>

          <span class="HoursOrMinutes">
            46
          </span>

          <span class="Seconds">
            46
          </span>
        </div>

        <div class="Progress">
          <div class="ProgressWalking" style="width: 30%"></div>
        </div>

        <span class="Day">
          114 of 365 monochrome days
        </span>
      </div>

      <div class="Right">
        <span class="Percent">
          31.10%
        </span>

        <span class="PercentFull">
          31.1057890%
        </span>
      </div>
    </div>
  </div>
</div>
