.MainQuestion {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none; // change by script
  align-items: center;
  justify-content: center;
}

.Text {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-size: 98px;
  color: #fff;
}
